@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
  }
  
:root {
    --background-color: #2f343f;
    --text-color: #fff;
    --gray-color: #4b5262;
    --red-color: #bf616a;
    --green-color: #a3be8c;
    --yellow-color: #ebcb8b;
    --purple-color: #b48ead;
    --cyan-color: #88c0d0;
    --orange-color: #d08770;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gray-color);
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--cyan-color);
  }

