@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    transition: all 0.2s ease-in-out;
  }
  
.displayNoneInside *{
  display: none !important;
}
:root {
    --background-color: #2f343f;
    --text-color: #fff;
    --text-color-accent: #88c0d0;

    --icon-color: #fff;
    --icon-color-active: #fff;
    --icon-color-hover: #fff;
    --icon-background: #4b5262;
    --icon-background-active: #a3be8c;
    --icon-background-hover: #d08770;
    
    --accent-color: #4b5262;
    --accent-color-hover: #88c0d0;

    --border-color: #4b5262;
    --border-color-hover: #88c0d0;

    --button-color: #d08770;
    --button-color-hover: #a3be8c;
    --button-text-color: #fff;
    --button-text-color-hover: #fff;

    --danger-color: #bf616a;
    --success-color: #a3be8c;

    
}

.color_picker * {
    transition: none;
  }

.color_picker > div{
  background-color: var(--accent-color) !important;
}

.color_picker > div:hover{
  background-color: var(--accent-color-hover) !important;
}

.color_picker .color-picker{
  height: unset !important;
  aspect-ratio: 4/3 !important;
}


  ::-webkit-scrollbar {
    width: 10px;
  }
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-hover);
  }

